#All List Methods

In [ ]:

fruits = ['apple', 'banana', 'cherry']

# 1. append()
fruits.append('date')

# 2. extend()
fruits.extend(['elderberry', 'fig'])

# 3. insert()
fruits.insert(2, 'grape')

# 4. remove()
fruits.remove('banana')

# 5. pop()
fruits.pop()

# 6. index()
index_of_cherry = fruits.index('cherry')

# 7. count()
count_apple = fruits.count('apple')

# 8. reverse()
fruits.reverse()

# 9. sort()
fruits.sort()

# 10. copy()
new_list = fruits.copy()

# Final Output
print("Final Fruits List:", fruits)
print("Copied List:", new_list)
print("Index of 'cherry':", index_of_cherry)
print("Count of 'apple':", count_apple)

Final Fruits List: ['apple', 'cherry', 'date', 'elderberry', 'grape']
Copied List: ['apple', 'cherry', 'date', 'elderberry', 'grape']
Index of 'cherry': 2
Count of 'apple': 1

#All Tuple Methods

In [ ]:
fruits = ('apple', 'banana', 'cherry', 'banana', 'apple')

# 1. count()
apple_count = fruits.count('apple')

# 2. index()
banana_index = fruits.index('banana')

# 3. len()
length = len(fruits)

# 4. in
is_mango_present = 'mango' in fruits

# 5. Tuple concatenation
more_fruits = ('date', 'elderberry')
combined = fruits + more_fruits

# 6. Tuple repetition
repeated = fruits * 2

# 7. Converting list to tuple
fruit_list = ['fig', 'grape']
fruit_tuple = tuple(fruit_list)

# 8. Sorted (returns list)
sorted_fruits = sorted(fruits)

# Output
print("Original Tuple:", fruits)
print("Count of 'apple':", apple_count)
print("Index of 'banana':", banana_index)
print("Length:", length)
print("Is 'mango' present?", is_mango_present)
print("Combined Tuple:", combined)
print("Repeated Tuple:", repeated)
print("List to Tuple:", fruit_tuple)
print("Sorted Tuple (as list):", sorted_fruits)

Original Tuple: ('apple', 'banana', 'cherry', 'banana', 'apple')
Count of 'apple': 2
Index of 'banana': 1
Length: 5
Is 'mango' present? False
Combined Tuple: ('apple', 'banana', 'cherry', 'banana', 'apple', 'date', 'elderberry')
Repeated Tuple: ('apple', 'banana', 'cherry', 'banana', 'apple', 'apple', 'banana', 'cherry', 'banana', 'apple')
List to Tuple: ('fig', 'grape')
Sorted Tuple (as list): ['apple', 'apple', 'banana', 'banana', 'cherry']

#All Set Methods

In [ ]:
my_set = {1, 2, 3}
print("Original Set:", my_set)

# 1. add()
my_set.add(4)

# 2. update()
my_set.update([5, 6])

# 3. remove()
my_set.remove(6)

# 4. discard() - no error if element not present
my_set.discard(10)

# 5. pop() - removes random element
my_set.pop()

# 6. clear()
copy_set = my_set.copy()
copy_set.clear()

print("Updated Set:", my_set)
print("Cleared Set:", copy_set)

Original Set: {1, 2, 3}
Updated Set: {2, 3, 4, 5}
Cleared Set: set()

#Creating and Accessing a Dictionary

In [ ]:
student = {
    "name": "Mohan",
    "age": 20,
    "branch": "CSE"
}
print("Name:", student["name"])
print("Age:", student["age"])
print("Branch:", student["branch"])

Name: Mohan
Age: 20
Branch: CSE

# Modifying, Adding, and Deleting Elements

In [ ]:
student = {
    "name": "Mohan",
    "age": 20
}
student["college"] = "KIET"
student["age"] = 21
del student["name"]
print(student)

{'age': 21, 'college': 'KIET'}