#if Statement

In [ ]:
age = 18
if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

# if-else Statement

In [ ]:
num = 5
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

#if-elif-else Ladder

In [ ]:
marks = 85

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 60:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

#. Nested if

In [ ]:
x = 20
y = 15

if x > 10:
    if y > 10:
        print("Both numbers are greater than 10")
    else:
        print("Only x is greater than 10")

Both numbers are greater than 10

#. Largest of Three Numbers

In [ ]:
a = 5
b = 10
c = 3

if a > b and a > c:
    print("a is the largest")
elif b > c:
    print("b is the largest")
else:
    print("c is the largest")

b is the largest

# Positive, Negative, or Zero

In [ ]:
num = -10

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

#Leap Year Check

In [ ]:
year = 2024

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")